<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/body.css')}}">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/appbar.css')}}">
    <title>Drivers Manager</title>
</head>
<body>
    <header>
        <a href="/" id="logo">TBHL</a>
        <nav>
            <ul>
                <li><a href="/agence">Agencies</a></li>
                <li><a href="/type">Type</a></li>
                <li><a href="/mission">Missions</a></li>
                <li><a href="/vehicule">Vehicles</a></li>
                <li><a href="/chauffeur" class="selected">Drivers</a></li>
                <li><a href="/revision">Revisions</a></li>
            </ul>
        </nav>
    </header>
    <div class="add">
        <form method="post">
            <h2>Add Drivers</h2>
            <label>Entrer le nom</label>
            <input type="text" id="name" name="nom" required>
            <label>Entrer le prenom</label>
            <input type="text" id="name" name="prenom" required>
            <label>Entrer le numéro de telphone</label>
            <input type="tel" id="telphone" name="telephone" required>
            <label>Entere l'email</label>
            <input type="email" id="email" name="email" required>
            <label>Selectionner l'agence</label>
            <select id ="agence" name="agence">
                {% for element in agence_list %}
                <option value="{{element[0]}}">{{element[1]}}</option>
                {% endfor %}
            </select>
            <input type="submit" id="sub" value="submit">
        </form>    
    </div>
    <div class="list">
        <table>
            <thead>
                <tr>
                    <th>chauffeure ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Email</th>
                    <th>Agency</th>
                </tr>
            </thead>
            <tbody>
                {% for element in chauffeure_list %}
                    <tr>
                        <td>{{ element[0] }}</td>
                        <td>{{ element[1] }}</td>
                        <td>{{ element[2] }}</td>
                        <td>{{ element[3] }}</td>
                        <td>{{ element[4] }}</td>
                        <td>{{ element[6] }}</td>
                        <td>
                            <a href="/chauffeur/sup:{{element[0]}}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>