<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TBHL</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='stylesheet/home.css')}}">

</head>
<body>
    <div class="card">
        <a href="/agence"><p><span>Agence</span></p></a>
        <a href="/type"><p><span>Type</span></p></a>
        <a href="/chauffeur"><p><span>Chaufeur</span></p></a>
        <a href="/vehicule"><p><span>Vehicule</span></p></a>
        <a href="/mission"><p><span>Mission</span></p></a>
        <a href="/revision"><p><span>Revision</span></p></a>
        <a href="/lists"></a><p><span>Tout les lists</span></p></a>
    </div>
</body>
</html>