<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <details>
        <summary>list des chauffeure</summary>
        <table>
            <thead>
                <tr>
                    <th>chauffeure ID</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Telephone</th>
                    <th>Email</th>
                    <th>Agence</th>
                </tr>
            </thead>
            <tbody>
                {% for element in chauffeure_list %}
                    <tr>
                        <td>{{ element[0] }}</td>
                        <td>{{ element[1] }}</td>
                        <td>{{ element[2] }}</td>
                        <td>{{ element[3] }}</td>
                        <td>{{ element[4] }}</td>
                        <td>{{ element[6] }}</td>
                        <td>
                            <a>Edit</a>
                            <a href="/chauffeur/sup:{{element[0]}}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </details>
</body>
</html>