<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Revision Manager</title>
</head>
<body>
    <div class="add">
        <form method="post">
            <label>Entrer la date</label>
            <input type="date" id="date" name="date">
            <label>Entrer le type</label>
            <input type="text" id="type" name="type">
            <select name="vehicule" id="vehicule">
                {% for vehicule in vehicule_list %}
                <option value="{{vehicule[0]}}">{{vehicule}}</option>
                {% endfor %}
            </select>
            <input type="submit" id="sub" value="submit">
        </form>    
    </div>
    <div class="lsit">
        <table>
            <thead>
                <tr>
                    <th>Mission ID</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Vehicule Immatriculation</th>
                    <th>Marque</th>
                    <th>Modele</th>
                </tr>
            </thead>
            <tbody>
                {% for element in revision_list %}
                    <tr>
                        <td>{{ element[0] }}</td>
                        <td>{{ element[1] }}</td>
                        <td>{{ element[2] }}</td>
                        <td>{{ element[6] }}</td>
                        <td>{{ element[8] }}</td>
                        <td>{{ element[9] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>    
</body>
</html>